#head{
  color: white;
  text-align: center;
  display: block;
  font-size: larger;
  font-weight: bold;
}
#search {
  margin: auto;
  width: 500px;
  padding: 20px;
}
body {
    background-image: url("Images/images.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
  color: Orange;
padding: 50px 20px 50px;
text-align:center;
}

.app-wrap{
width: 100%;
font-size: 25px;
font-weight: 300;
font-style: italic;
  transition: 0.3s ease-out;
  border-bottom: 2px crystal;
  flex-direction: column;
}
.app-wrap:focus {
  background-color: blue;
}
main{
  text-align: center;
  align-items: center;
  font-size: 100;
}
.App{
  text-align: center;
  align-items: center;
}
#location{
  color: #92ff03;
  font-size: 30px;
  align-items: center;
  text-align: center;

}
#Time{
  color: #f7ff03;
  font-size: 25px;
}
.Date{
color: #03ffd1;
font-size: 30px;
}
#temp{
  color: #db0fbd;
  font-size: 60px;
  font-weight: 100;
  margin: 30px 0px;
  float: left;
  width:50%;
}
#svg{
  float:right;
  width:50%;
}

#svg svg{
  width:20%;
  height: 20%;
}
#hi-low{
  color: white;
  font-size: 30px;
}
.emoji{
  height: 200px;
  width:100%;
}