body {
    background-image: url("Images/images.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
  background-color: rgb(31, 207, 37);
  color: Orange;
padding: 20px 15px 25px;
text-align:center;
}
.location{
  color: #E305CC;
}
.default{
  color: #FA1414;
  font-size: 100px;
  font-weight: 100;
  margin: 10px 0px;
text-shadow: 3px 8px rgna(0,0,0,0.5);
}
.hi-low{
  color: #E925BD;
}
.form-inline{
width: 100%;
font-size: 25px;
font-weight: 300;
font-style: italic;
  transition: 0.3s ease-out;
  border-bottom: 2px crystal;
}
.form-inline:focus {
  background-color: blue;
}
